body {
  font-family: Lobster, Times New Roman;
}

input {
    width: 100%;
    margin: 8px 0 8px 0;

}

ul {
  margin: 20px 0 0 0;
}

li {
  padding: 10px;
  margin: 5px;
  color: white;
  background-color: black;
  border: 2px solid white;
  border-radius: 15px;
}

.random {
  width: 100px;
  height: 100px;
}

.copyright {
  text-align: center;
}
